.box {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  .boxItem {
    width: 800px;
    margin: auto;
    padding: 15px 0;
    .logoImg {
      height: 40px;
      margin-right: 50px;
    }
    .textImg {
      height: 20px;
    }
  }
}
